.header {
  position: relative;
  min-height: 800px;
  background: #284854;
  min-width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  max-width: 1230px;
  height: 80px;
  background: #60c1bd;
  border-radius: 50px;
  margin: 0 auto;
}
.header__nav-block {
  display: flex;
  align-items: center;
}

.header__nav-block:first-child {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
.header__nav-block_center {
  margin-right: 20px;
  font-size: 18px;
  line-height: 25px;
}
.header__nav-block_center a:hover {
  color: rgb(51, 24, 24);
}
.header__nav-block_center a {
  color: #284854;
}

.header__nav-block_center:last-child {
  margin: 0;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  border: 1px solid white;
  font-size: 14px;
  background: #60c1bd;
  color: white;
}
.nav__btn:hover {
  background: white;
  color: #60c1bd;
}
.main_title {
  color: #8bc441;
  font-size: 85px;
  line-height: 102px;
  width: 715px;
  margin: 120px 0 60px 180px;
}
.header__paragraph {
  color: white;
  width: 540px;
  height: 110px;
  font-size: 20px;
  line-height: 28px;
  margin-left: 180px;
}
.header__image_little {
  position: absolute;
  top: 265px;
  right: 240px;
}
.header__image_big {
  position: absolute;
  top: 265px;
  right: 185px;
}
.main__title_lets-start {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #60c1bd;
  margin-top: 170px;
}
.main__title_how-indevets {
  font-size: 55px;
  line-height: 64px;
  text-align: center;
  color: #284854;
}
